@import "../size.scss";

.card-list {
  position: relative;
  display: flex;
  background-color: $dark-shade-05;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: .5em;

  & .icon {
    margin-right: .5em;
  }

  & > .status {
    display: flex;
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
    color: $dark-shade-25;
  }

  & > .status.-active {
    color: $green;
  }

  & > .identification {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-right: 2em;
    overflow: hidden;
  }

  & > .identification > .personname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > .identification > .email {
    margin-top: .5em;
  }

  & > .identification > .more-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
  }

  & > .information {
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & > .information > .birthday {
    margin-bottom: .5em;
  }

  & > .commands {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: flex-end;
  }

  & > .commands > .command:first-of-type {
    margin-bottom: 5px;
  }
  & > .commands > .command {
    width: 100px;
  }

  $maxSizeSmall: nth(nth(nth($sizes, 2), 2), 1) + rem;
  @media only screen and (max-width: $maxSizeSmall) {
    & > .information {
      display: none;
    }
  }

  $maxSizeLarge: nth(nth(nth($sizes, 2), 2), 1) + rem;
  @media only screen and (min-width: $maxSizeLarge) {
    & > .commands {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    & > .commands > .command:first-of-type {
      margin-right: 5px;
    }
  }
}
