@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1 {
  color: $dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  color: $dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 2.66rem;
  margin: 0;
}

h3 {
  color: $dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

h4 {
  color: $dark-shade-100;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.58rem;
  margin: 0;
}

h5 {
  color: $dark-shade-75;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 1.16rem;
  margin: 0;
}

h6 {
  color: $dark-shade-75;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}
