$dark-shade-100: #202042;
$dark-shade-75: #575771;
$dark-shade-50: #8f91a0;
$dark-shade-25: #c7c7cf;
$dark-shade-05: #f3f4f6;

$purple: #bc9cff;
$green: #6ed097;

$purple-bottom: #8BA4F9;
$green-bottom: #66D2EA;

$input-height: 44px;