@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
* {
  outline: none; }

ul {
  padding: 0; }

li {
  list-style: none; }

h1 {
  color: #202042;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 42; }

h2 {
  color: #202042;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 32; }

h3 {
  color: #202042;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24; }

h4 {
  color: #202042;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 19; }

h5 {
  color: #585872;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 14; }

h6 {
  color: #585872;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 12;
  text-transform: uppercase; }

.card-list {
  display: flex; }

.container-nomargin {
  margin: .5rem; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  margin-top: 2rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: var(calc((var($gutter-width) * 0.5) * -1), -0.5rem);
  margin-left: var(calc((var($gutter-width) * 0.5) * -1), -0.5rem);
  align-self: flex-start; }
  .row .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    padding-left: 20px; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.start-all {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-all {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-all {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.col-1 {
  display: block;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333% !important;
  max-width: 8.33333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-0 {
  margin-left: 8.33333%; }

.col-2 {
  display: block;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667% !important;
  max-width: 16.66667%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-1 {
  margin-left: 16.66667%; }

.col-3 {
  display: block;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25% !important;
  max-width: 25%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-2 {
  margin-left: 25%; }

.col-4 {
  display: block;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333% !important;
  max-width: 33.33333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-3 {
  margin-left: 33.33333%; }

.col-5 {
  display: block;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667% !important;
  max-width: 41.66667%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-4 {
  margin-left: 41.66667%; }

.col-6 {
  display: block;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50% !important;
  max-width: 50%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-5 {
  margin-left: 50%; }

.col-7 {
  display: block;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333% !important;
  max-width: 58.33333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-6 {
  margin-left: 58.33333%; }

.col-8 {
  display: block;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667% !important;
  max-width: 66.66667%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-7 {
  margin-left: 66.66667%; }

.col-9 {
  display: block;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75% !important;
  max-width: 75%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-8 {
  margin-left: 75%; }

.col-10 {
  display: block;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333% !important;
  max-width: 83.33333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-9 {
  margin-left: 83.33333%; }

.col-11 {
  display: block;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667% !important;
  max-width: 91.66667%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-10 {
  margin-left: 91.66667%; }

.col-12 {
  display: block;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100% !important;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  padding-left: 0.5rem;
  /* var($half-gutter-width, 0.5rem);*/
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.col-offset-11 {
  margin-left: 100%; }

@media only screen and (min-width: 0em) {
  /** and (max-width: $vMax) { */
  .container {
    width: -1.5rem; }
  .hide-xs {
    display: none; }
  .col-xs-1 {
    display: block;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333% !important;
    max-width: 8.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-0 {
    margin-left: 8.33333%; }
  .col-xs-2 {
    display: block;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667% !important;
    max-width: 16.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-1 {
    margin-left: 16.66667%; }
  .col-xs-3 {
    display: block;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25% !important;
    max-width: 25%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-2 {
    margin-left: 25%; }
  .col-xs-4 {
    display: block;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333% !important;
    max-width: 33.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-3 {
    margin-left: 33.33333%; }
  .col-xs-5 {
    display: block;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667% !important;
    max-width: 41.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-4 {
    margin-left: 41.66667%; }
  .col-xs-6 {
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50% !important;
    max-width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-5 {
    margin-left: 50%; }
  .col-xs-7 {
    display: block;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333% !important;
    max-width: 58.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-6 {
    margin-left: 58.33333%; }
  .col-xs-8 {
    display: block;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667% !important;
    max-width: 66.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-7 {
    margin-left: 66.66667%; }
  .col-xs-9 {
    display: block;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75% !important;
    max-width: 75%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-8 {
    margin-left: 75%; }
  .col-xs-10 {
    display: block;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333% !important;
    max-width: 83.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-9 {
    margin-left: 83.33333%; }
  .col-xs-11 {
    display: block;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667% !important;
    max-width: 91.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-10 {
    margin-left: 91.66667%; }
  .col-xs-12 {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xs-offset-11 {
    margin-left: 100%; }
  .start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem; }
  .last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 48em) {
  /** and (max-width: $vMax) { */
  .container {
    width: 46.5rem; }
  .hide-sm {
    display: none; }
  .col-sm-1 {
    display: block;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333% !important;
    max-width: 8.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-0 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    display: block;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667% !important;
    max-width: 16.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-1 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    display: block;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25% !important;
    max-width: 25%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-2 {
    margin-left: 25%; }
  .col-sm-4 {
    display: block;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333% !important;
    max-width: 33.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-3 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    display: block;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667% !important;
    max-width: 41.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-4 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50% !important;
    max-width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-5 {
    margin-left: 50%; }
  .col-sm-7 {
    display: block;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333% !important;
    max-width: 58.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-6 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    display: block;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667% !important;
    max-width: 66.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-7 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    display: block;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75% !important;
    max-width: 75%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-8 {
    margin-left: 75%; }
  .col-sm-10 {
    display: block;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333% !important;
    max-width: 83.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-9 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    display: block;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667% !important;
    max-width: 91.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-10 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-sm-offset-11 {
    margin-left: 100%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  /** and (max-width: $vMax) { */
  .container {
    width: 62.5rem; }
  .hide-md {
    display: none; }
  .col-md-1 {
    display: block;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333% !important;
    max-width: 8.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-0 {
    margin-left: 8.33333%; }
  .col-md-2 {
    display: block;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667% !important;
    max-width: 16.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-1 {
    margin-left: 16.66667%; }
  .col-md-3 {
    display: block;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25% !important;
    max-width: 25%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-2 {
    margin-left: 25%; }
  .col-md-4 {
    display: block;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333% !important;
    max-width: 33.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-3 {
    margin-left: 33.33333%; }
  .col-md-5 {
    display: block;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667% !important;
    max-width: 41.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-4 {
    margin-left: 41.66667%; }
  .col-md-6 {
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50% !important;
    max-width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-5 {
    margin-left: 50%; }
  .col-md-7 {
    display: block;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333% !important;
    max-width: 58.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-6 {
    margin-left: 58.33333%; }
  .col-md-8 {
    display: block;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667% !important;
    max-width: 66.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-7 {
    margin-left: 66.66667%; }
  .col-md-9 {
    display: block;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75% !important;
    max-width: 75%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-8 {
    margin-left: 75%; }
  .col-md-10 {
    display: block;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333% !important;
    max-width: 83.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-9 {
    margin-left: 83.33333%; }
  .col-md-11 {
    display: block;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667% !important;
    max-width: 91.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-10 {
    margin-left: 91.66667%; }
  .col-md-12 {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-md-offset-11 {
    margin-left: 100%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  /** and (max-width: $vMax) { */
  .container {
    width: 73.5rem; }
  .hide-lg {
    display: none; }
  .col-lg-1 {
    display: block;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333% !important;
    max-width: 8.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-0 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    display: block;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667% !important;
    max-width: 16.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-1 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    display: block;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25% !important;
    max-width: 25%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-2 {
    margin-left: 25%; }
  .col-lg-4 {
    display: block;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333% !important;
    max-width: 33.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-3 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    display: block;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667% !important;
    max-width: 41.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-4 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50% !important;
    max-width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-5 {
    margin-left: 50%; }
  .col-lg-7 {
    display: block;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333% !important;
    max-width: 58.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-6 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    display: block;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667% !important;
    max-width: 66.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-7 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    display: block;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75% !important;
    max-width: 75%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-8 {
    margin-left: 75%; }
  .col-lg-10 {
    display: block;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333% !important;
    max-width: 83.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-9 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    display: block;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667% !important;
    max-width: 91.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-10 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-lg-offset-11 {
    margin-left: 100%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 99em) {
  /** and (max-width: $vMax) { */
  .container {
    width: 97.5rem; }
  .hide-xg {
    display: none; }
  .col-xg-1 {
    display: block;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333% !important;
    max-width: 8.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-0 {
    margin-left: 8.33333%; }
  .col-xg-2 {
    display: block;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667% !important;
    max-width: 16.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-1 {
    margin-left: 16.66667%; }
  .col-xg-3 {
    display: block;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25% !important;
    max-width: 25%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-2 {
    margin-left: 25%; }
  .col-xg-4 {
    display: block;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333% !important;
    max-width: 33.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-3 {
    margin-left: 33.33333%; }
  .col-xg-5 {
    display: block;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667% !important;
    max-width: 41.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-4 {
    margin-left: 41.66667%; }
  .col-xg-6 {
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50% !important;
    max-width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-5 {
    margin-left: 50%; }
  .col-xg-7 {
    display: block;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333% !important;
    max-width: 58.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-6 {
    margin-left: 58.33333%; }
  .col-xg-8 {
    display: block;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667% !important;
    max-width: 66.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-7 {
    margin-left: 66.66667%; }
  .col-xg-9 {
    display: block;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75% !important;
    max-width: 75%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-8 {
    margin-left: 75%; }
  .col-xg-10 {
    display: block;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333% !important;
    max-width: 83.33333%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-9 {
    margin-left: 83.33333%; }
  .col-xg-11 {
    display: block;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667% !important;
    max-width: 91.66667%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-10 {
    margin-left: 91.66667%; }
  .col-xg-12 {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    padding-left: 0.5rem;
    /* var($half-gutter-width, 0.5rem);*/
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .col-xg-offset-11 {
    margin-left: 100%; }
  .start-xg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-xg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-xg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-xg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-xg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-xg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-xg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .between-xg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-xg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem; }
  .last-xg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
